body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

#title {
    padding-top: 5em;
    font-size: xx-large;
    text-align: center;
    padding-bottom: 5em;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: large;
}

.list li {
    padding-bottom: 10px;
}